body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 340px;
}

.logo img {
    width: 60px;
}
.logo h2 {
    color: #205c3b;
    margin: 0.5rem 0 0;
}
.logo p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1.5rem;
}

h1 {
    margin-bottom: 1.5rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.3rem;
}

input {
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 0.9rem;
}

input:focus {
    border-color: #205c3b;
}

button {
    background-color: #205c3b;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #18482f;
}

.forgot {
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #205c3b;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}
